<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @queu_e.room %>
</p>

<p>
  <strong>Date:</strong>
  <%= @queu_e.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @queu_e.time %>
</p>

<%= link_to 'Edit', edit_queu_e_path(@queu_e) %> |
<%= link_to 'Back', hospitals_path %>
