<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Break time</th>
      <th>Open time</th>
      <th>Closed time</th>
      <th>Step time</th>
      <th>Day off</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.room %></td>
        <td><%= schedule.break_time %></td>
        <td><%= schedule.open_time %></td>
        <td><%= schedule.closed_time %></td>
        <td><%= schedule.step_time %></td>
        <td><%= schedule.day_off %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
